#contact-landing .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16rem;
  margin: 10rem auto;
  margin-bottom: 0rem;
  width: 100%;
}
.cta-group {
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
}
.cta-group .catchline {
  text-transform: uppercase;
  opacity: 0;
}
.cta-group .links {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.cta-group .link {
  text-transform: uppercase;
  text-decoration: underline;
  word-wrap: break-word;
  text-align: center;
  width: 1100px;
  opacity: 0;
}

@media screen and (max-width: 1260px) {
  .cta-group .link {
    width: 700px;
  }
}
@media screen and (max-width: 1000px) {
  #contact-landing .content {
    gap: 8rem;
    margin-bottom: 2rem;
  }
  .cta-group {
    gap: 2rem;
  }
  .cta-group .link {
    width: 100%;
  }
}