@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Tusker Grotesk";
  src: local("TuskerGrotesk-3600Semibold"),
    url("../fonts/TuskerGrotesk/TuskerGrotesk-3600Semibold.ttf")
      format("truetype");
}
:root {
  --FFPRIMARY: "Neue Montreal" sans-serif;
  --FFSECONDARY: "Tusker Grotesk";
  --TRANSITION: cubic-bezier(0.13, 0.53, 0.38, 0.97);
  --BLACK: #080808;
  --SMOKEWHITE: #dddad8;
}
.bold {
  font-weight: bold;
}
body {
  font-family: var(--FFPRIMARY);
  background-color: var(--BLACK);
}
main {
  height: 100vh;
  margin: 0 auto;
  padding: 0 4rem;
  background-color: var(--SMOKEWHITE);
  z-index: 2;
  overflow-x: hidden;
  padding-top: 2.5rem;
  transition: transform 500ms var(--TRANSITION);
}
.shifted-main {
  transform: translateY(-50%);
  overflow-y: hidden;
}
section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20rem;
}

section:last-child {
  margin-bottom: 0;
}
.text-m {
  font-size: 22px;
  line-height: 1.32;
}
.text-l {
  font-size: 40px;
  line-height: 1.25;
}
.text-xl {
  font-size: 90px;
  letter-spacing: -2px;
  line-height: 1;
}
.text-2xl {
  font-size: 144px;
  letter-spacing: -2.5px;
  line-height: 90%;
  font-weight: 500;
}
.text-3xl {
  font-size: 150px;
  letter-spacing: -3px;
  line-height: 1;
}
.text-4xl {
  font-size: 250px;
  letter-spacing: -5px;
  line-height: 1;
  font-family: var(--FFSECONDARY);
  text-transform: uppercase;
}
.hover-link {
  position: relative;
}
.hover-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: var(--BLACK);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}
.hover-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 1320px) {
  .text-2xl {
    font-size: 128px;
  }
  .text-3xl {
    font-size: 130px;
  }
  .text-4xl {
    font-size: 225px;
  }
}
@media screen and (max-width: 1230px) {
  .text-l {
    font-size: 30px;
  }
  .text-2xl {
    font-size: 94px;
  }
  .text-3xl {
    font-size: 120px;
  }
  .text-4xl {
    font-size: 180px;
  }
  .text-m {
    font-size: 20px;
    line-height: 1.32;
  }
}

@media screen and (max-width: 1000px) {
  main {
    padding: 0 1.25rem;
  }
  section {
    margin-bottom: 12rem;
  }
  .text-m {
    font-size: 20px;
  }
  .text-l {
    font-size: 28px;
  }
  .text-xl {
    font-size: 80px;
  }
  .text-2xl {
    font-size: 60px;
    font-weight: 400;
  }
  .text-3xl {
    font-size: 80px;
  }
  .text-4xl {
    font-size: 100px;
    letter-spacing: -1px;
  }
  section:last-child {
    margin-bottom: 3rem;
  }
}