#hero {
  max-height: 100vh;
  justify-content: space-between;
}
.hero-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hero-header .role {
  /* width: 35%; */
  position: relative;
  left: -7px;
  top: 10px;
}
.hero-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-info .info-left {
  display: flex;
  flex-direction: row;
  gap: 20%;
  align-items: flex-end;
}
.arrow {
  width: 110px;
  height: auto;
  transform: translateY(-100%);
}
.arrow-mbl {
  display: none;
  width: 50px;
  transform: translateY(-100%);
}
.info-left .bio {
  width: 450px;
  line-height: 1.18;
}
.hero-info .name {
  text-align: right;
}
.bio-line {
  transform: translateY(105%);
}

@media screen and (max-width: 1320px) {
  .arrow {
    width: 100px;
    height: auto;
  }
}
@media screen and (max-width: 1230px) {
  .arrow {
    width: 80px;
    height: auto;
  }
}

@media screen and (max-width: 1000px) {
  .hero-header .role {
    left: -2px;
    top: 4%;
  }
  #hero {
    height: 90vh;
    padding-top: 8rem;
    padding-bottom: 1rem;
    justify-content: flex-start;
  }
  .hero-info {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
  .arrow {
    display: none;
  }
  .arrow-mbl {
    display: block;
  }
  .hero-info .info-left {
    flex-direction: column-reverse;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: 2rem;
  }
  .hero-info .info-right {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
  .hero-info .name {
    width: 100%;
  }
  .info-left .bio {
    width: 100%;
  }
  .arrow {
    width: 56px;
  }
}
