#hero {
  max-height: 95vh;
  justify-content: space-between;
}
#hero .section-header {
  margin-left: 25%;
}
#hero .section-header .header-item {
  width: 25%;
}
.hero-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hero-header .role {
  width: 30%;
  position: relative;
  left: -7px;
}
.hero-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-info .info-left {
  display: flex;
  flex-direction: row;
  gap: 20%;
  align-items: flex-end;
}
.arrow {
  width: 110px;
  height: auto;
}
.info-left .bio {
  width: 450px;
  line-height: 1.18;
}
.hero-info .name {
  text-align: right;
  width: 550px;
}

@media screen and (max-width: 1320px) {
  .arrow {
    width: 100px;
    height: auto;
  }
}
@media screen and (max-width: 1230px) {
  .arrow {
    width: 80px;
    height: auto;
  }
}

@media screen and (max-width: 1000px) {
  #hero .section-header {
    display: none;
  }
  #hero {
    margin-top: 10rem;
  }
  .hero-info {
    flex-direction: column;
  }
  .arrow {
    width: 100px;
  }
    
}