#hero {
  max-height: 100vh;
  justify-content: space-between;
}
.hero-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hero-header .role {
  width: 30%;
  position: relative;
  left: -7px;
}
.hero-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-info .info-left {
  display: flex;
  flex-direction: row;
  gap: 20%;
  align-items: flex-end;
}
.arrow {
  width: 110px;
  height: auto;
}
.info-left .bio {
  width: 450px;
  line-height: 1.18;
}
.hero-info .name {
  text-align: right;
  width: 550px;
}

@media screen and (max-width: 1320px) {
  .arrow {
    width: 100px;
    height: auto;
  }
}
@media screen and (max-width: 1230px) {
  .arrow {
    width: 80px;
    height: auto;
  }
}

@media screen and (max-width: 1000px) {
  .hero-header .role {
    left: -2px;
  }
  #hero {
    padding-top: 8rem;
    justify-content: flex-start;
  }
  .hero-info {
    /* justify-content: space-between; */
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    padding-bottom: 1rem;
  }
  .arrow {
    width: 100px;
  }
  .hero-info .info-left {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 2rem;
  }
  .hero-info .info-right {
    display: flex;
    align-items: flex-end;
  }
  .hero-info .name {
    width: 100%;
  }
  .info-left .bio {
    width: 70%;
  }
  .arrow {
    width: 56px;
  }
    
}