#navbar {
  background-color: transparent;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  opacity: 0;
}
.menu { 
  display: none;
}
@media screen and (max-width: 1000px) {
  #navbar {
    height: 5rem;
    padding: 0 1.25rem;
  }
  .desk-nav {
    display: none;
  }
  .menu {
    display: none;
  }
}
