.page-header {
  display: flex;
  width: 100%;
  line-height: 1.25;
  margin-bottom: 4.5rem;
  margin-left: 25%;
  margin-top: 2.5rem;
}
.page-header .header-item {
  width: 25%;
}

@media screen and (max-width: 1000px) {
  .page-header {
    display: none;
  }
  .page-header .header-item:nth-child(2) {
    width: 35%;
  }
}
