#projects .section-header .header-item {
  width: 25%;
}
#projects .project-container {
  height: 100%;
  margin-bottom: 3rem;
}
#projects .project-container:last-child {
  margin-bottom: 0;
}
#projects .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content .project-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.project-info .project-title {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  text-decoration: underline;
}
.project-info .project-other {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 20%;
}
.project-description .link {
  font-weight: 700;
  text-decoration: underline;
}
.project-other .btn-group {
  display: flex;
  gap: 8px;
}
.content .project-img {
  width: 50%;
}


@media screen and (max-width: 1000px) {
  #projects .section-header {
    margin-bottom: 3rem;
  }
  #projects .content {
   flex-direction: column;
   gap: 2rem;
  }
  .content .project-info {
    gap: 2rem;
    width: 100%;
  }
  .project-info .project-other {
    align-self: flex-start;
    width: 90%;
    margin: 0;
  }
  .content .project-img {
    width: 100%;
  }
}