#skills .section-header {
  margin-bottom: 5rem;
}

#skills .section-header .header-item {
  width: 25%;
}
#skills .content {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
#skills .content .tagline {
  font-family: var(--FFSECONDARY);
  width: 35%;
}
#skills .content .content-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  align-items: flex-end;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.skills .skill {
  display: flex;
  justify-content: space-between;
  width: 757px;
  width: 100%;
}
.skill .skill-type {
  white-space: nowrap;
}
.skill .skill-list {
  width: 70%;
}

@media screen and (max-width: 1000px) {
  #skills .section-header {
    margin-bottom: 3rem;
  }
  #skills .content {
    flex-direction: column;
    width: 100%;
  }
  #skills .content .tagline {
    width: 70%;
    margin-bottom: 4rem;
  }
  #skills .content .content-right {
    width: 80%;
    align-self: flex-end;
    gap: 2rem;
  }
  .skills .skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
  }
  .skill .skill-list {
    width: 100%;
  }
}
